body {
    background-color: #4C4B4B;
}

hr {
    margin: 0;
    margin-top: 5px;
}

input {
    height: 35px;
    padding: 5px;
    color: black;
}

#header {
    /*height: 150px;*/
    padding: 0 4% 0 10%;


    background: #642f70; /* Old browsers */
    background: -moz-linear-gradient(left,  #642f70 0%, #887bd3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#642f70), color-stop(100%,#887bd3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #642f70 0%,#887bd3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #642f70 0%,#887bd3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #642f70 0%,#887bd3 100%); /* IE10+ */
    background: linear-gradient(to right,  #642f70 0%,#887bd3 100%); /* W3C */

    color: white;

}

 #img-section {
    position: relative;
 }

     #img-section img {
        position: absolute;
        margin-top: 20px;
        right: 15%;
     }

 #login label {
    display: block;
    text-align: center;
 }

 #login input {
    margin-right: 10px;
    background-color: #E6E6E6;
 }

 #login button {
    width: 100px;
    border-radius: 25px;
 }

 #forgot {
    text-decoration: none;
    color: white;
 }

 #header-nav {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    zoom: 1;
    padding: 0;
    margin: 0;
 }

  #header-nav li {
    list-style-type: none;
    padding: 9px;
  }

  #header-nav li a {
    color: white;
  }

#main {
    background-color: white;

    padding-bottom: 20px;
}

 #info-row {
    padding: 0 10%;
 }

 #nav-row {
    margin: 0 auto;
    max-width: 950px;
 }

 #desk-nav {
    padding-top: 50px;
    border-bottom: none;
 }

 #mobile-nav {
    padding: 20px;
 }

.nav a {
    color: white;
    background-color: #642f70;
}

.nav-tabs>li>a {
    border-radius: 10px 10px 0 0;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    color: #887bd3;
}

.nav a:hover, .nav a:focus, .nav>.open>a .dropdown-menu>li>a:hover{
    color: #887bd3;
    background-color: lightgrey;
}

.dropdown-menu {
    background-color: #642f70;
    color: white;
}

.dropdown-menu>li>a {
    border-radius: 0;
    color: white;
}

#nav-content { padding-right: 9%;}

 #carousel-row {
    margin-bottom: 70px;
 }

 .carousel {
    height: 245px;
    max-width: 950px;
    margin: 0 auto;
 }

  .carousel .item img {
    height: 245px;
  }

 #info-row {
    /*width: 800px;*/
    margin: 0 auto;
 }

  #info-row .col-lg-6 {
    /*padding: 0;*/
  }

 .apr-tab {
    padding: 0 20px;
 }

     .apr-title {
        /*height: 100px;*/
        text-align: center;

        padding: 15px;

        background: #887bd3;

        color: white;
     }

     .apr-text {
        height: 100px;
        background-color: #E6E6E6;
        border-radius: 0 0 10px 10px;

        text-align: center;
     }

        .apr-text p {
            padding: 25px;
        }

#image-row, #money-icons {
    margin-top: 20px;
}

.img-float {
    float: left;
}

#partners-blck { padding: 0 20px;}

#partners-title {
    background: #887bd3;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 2px;
}

#money-icons img {
    float: right;
}

.panel-heading {
    background-color: #887bd3;
    color: white;
}

#footer {
    background-color: #212020;
    padding: 20px;
    color: white;
}

#footer input {
    margin-top: 2%;
}
#footer .col-xs-12 {
    text-align: center;
}

#info-block {
    /*padding-top: 20px;*/
}

#info-block p {
    margin: 0;
    color: white;
    font-size: 9pt;
}

@media only screen and (max-width: 768px) {
    #header, #main {
        padding: 0 10px;
    }

    h1, h3 {
        text-align: center;
    }

    form {
        text-align: center;
    }

    form input {
        width: 75%;
    }

    #header-nav { text-align: center; }

    #header-nav li { display: -webkit-inline-box; }

    #image-row, #money-icons {
        margin-bottom: 10px;
        text-align: center;
    }

    #info-row {
        padding: 0;
    }

    .img-float, #money-icons img {
        float: none;
    }

    .partners .col-xs-4 {
        padding: 0;
    }

    .partners .col-xs-4 img {
        padding: 7%;
    }
}

@media only screen and (max-width: 991px) {
    #img-section img {
        position: relative;
        height: 150px;
        width: 375px;
        display: block;
        margin: 0 auto;
    }

    .nav-tabs>li>a {
        font-size: 8pt;
    }

}

@media only screen and (max-width: 785px) {
    #nav-content { padding: 20px; }
}